@import "./reset.css";
@import "./header.css";
@import "./home-page.css";

.button {
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  text-align: justify;
  font-size: 27px;
  box-sizing: border-box;

  background: #ffffff;
  border: 0.5px solid #000000;
  border-radius: 10px;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  text-align: justify;
}
body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
}
